/*Font family is Azeret Mono*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Azeret Mono;
}

body h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
body p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400; 
}
/* Banner section is start here*/
.Banner {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    margin-bottom: 164px;
}

.header-nav {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Developer-name {

    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.nav-button {

    border-radius: 8px;
    padding: 17px 24px 17px 24px;
}


.banner-section {
    /*border: 2px solid salmon;*/
    width: 1440px;
    height: 652px;
    background-image: url("./assets/Hero-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}

.banner-content {

    height: 90%;
    width: 70%;
    margin: 0 auto;
}


.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800px;
    margin-top: 32px;

}

.banner-text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400px;
    margin-top: 28px;
}

.banner-button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 38px;
}

/* Banner section is end here*/
/* Development-section is start here*/
.development-section {
    /*border: 2px solid salmon;*/
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.development-section-container {
    /*border: 2px solid rgba(8, 187, 56, 0.842);*/
    width: 87%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.development-section-text{
    /*border: 2px solid rgba(12, 2, 1, 0.842);*/
    width: 852px;
    height: 113px;
}
/*.development-section-text h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.development-section-text p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}*/
.development-section-content{
    /*border: 2px solid rgba(219, 14, 14, 0.842);*/
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.development-section-content1{
    /*border: 2px solid rgba(65, 7, 223, 0.842);*/
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-around;
    gap: 98px;

}
.development-section-content1 div{
    /*border: 2px solid rgba(7, 223, 79, 0.842); */
    margin-top: 30px;
    text-align: left;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*.development-section-content1 h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700px;
}
.development-section-content1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}*/
.development-section-content1 button{
    /*border: 1px solid rgb(13, 19, 33);*/
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
}
.development-section-content1 img{
    /*border: 2px solid rgba(223, 7, 7, 0.842);*/
    margin-top: 30px;
    width: 300px;
    height: 217.01px;  
}
#d-s-c{
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
/* Development-section is end here*/
/* Inspiration-section is start here*/

.inspiration-section{
    /* border: 2px solid rgba(223, 7, 7, 0.842);*/
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;  
}
.inspiration-section-text{
   /*  border: 2px solid rgba(223, 7, 7, 0.842);*/
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 50px;
}
/* .inspiration-section-text h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.inspiration-section-text p, .current-target-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}
  */  
.inspiration-section-video{
    /* border: 2px solid rgba(223, 7, 7, 0.842);*/
    width: 1140px;
    height: 610px;
    margin: 0 auto;
    padding-top: 28px;
    border-radius: 20px;
    border: 1px solid rgba(13, 19, 33, 0.2);
}
/* Inspiration-section is start here*/
/* Current-target-section is start here*/

.current-target-section{
    /*border: 2px solid rgba(223, 7, 7, 0.842);*/
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 111px;

}
.current-target-text{
    /*border: 2px solid rgba(83, 7, 223, 0.842);*/
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
}
/*.current-target-text h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
*/

.current-target-content{
    /*border: 2px solid rgba(83, 7, 223, 0.842);*/
    width: 1140px;
    height: 299px;
    display: flex;
    gap: 24px;
}
.html{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    width: 33%;
}
.css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    width: 33%;
}
.java-script{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    width: 33%;
}
/* Current-target-section is end here*/
/* Next-target-section is start here*/
.next-target-section{
    border: 2px solid rgba(83, 7, 223, 0.842);
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    margin-top: 111px;
}
.next-target-section-text{
    border: 2px solid rgba(223, 7, 25, 0.842);
    width: 946px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
}
.next-target-section-content{
    border: 2px solid rgba(223, 7, 25, 0.842);
    width: 1140px;
    height: 705px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.next-target-section-content1{
    border: 2px solid rgba(223, 7, 25, 0.842);
    width: 1060px;
    height: 219px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.next-target{
    border: 2px solid rgba(7, 223, 90, 0.842);
    width: 85%;
    height: 139px;
}
/* Next-target-section is end here*/
/* Support-section is start here*/
.support-section{
    border: 2px solid rgba(223, 7, 25, 0.842);
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 49px; 
    background-image: url("./assets/handshake.jpg");
    background-position: center;
    background-color: rgba(0, 0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.support-section-content{
    border: 2px solid rgba(223, 7, 25, 0.842);
    width: 1044px;
    height: 185px;
    margin: 64px 48px ;
}
.support-section-text{
    border: 2px solid rgba(7, 223, 158, 0.842);
    width: 730px;
    height: 104px;
    margin: 0 auto;
    text-align: center;
}
.support-section-button{
    border: 2px solid rgba(7, 223, 158, 0.842);
    width: 730px;
    height: 57px;
    margin: 0 auto;
}
/* Support-section is end here*/
/* footer-section is start here*/
.footer-section{
    border: 2px solid rgba(7, 223, 158, 0.842);
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.footer-section-text{
    border: 2px solid rgba(223, 7, 25, 0.842);
    width: 1140px;
    height: 36px;
}
.footer-section-img{
    border: 2px solid rgba(223, 7, 25, 0.842);
    width: 157.01px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    
}
